# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.shape
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [120]:
properties_t = properties.transpose()

In [121]:
properties_t.index

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

In [122]:
print(properties_t.head())

                          0                    1                    2    \
Unnamed: 0                NaT  1995-01-01 00:00:00  1995-02-01 00:00:00
City of London      E09000001          91448.98487          82202.77314
Barking & Dagenham  E09000002           50460.2266          51085.77983
Barnet              E09000003          93284.51832          93190.16963
Bexley              E09000004          64958.09036          64787.92069

                                    3                    4    \
Unnamed: 0          1995-03-01 00:00:00  1995-04-01 00:00:00
City of London              79120.70256          77101.20804
Barking & Dagenham          51268.96956          53133.50526
Barnet                      92247.52435          90762.87492
Bexley                      64367.49344          64277.66881

                                    5                    6    \
Unnamed: 0          1995-05-01 00:00:00  1995-06-01 00:00:00
City of London              84409.14932          94900.51244
Barking & Dagenham          53042.24852          53700.34831
Barnet                      90258.00033          90107.23471
Bexley                      63997.13588          64252.32335

                                    7                    8    \
Unnamed: 0          1995-07-01 00:00:00  1995-08-01 00:00:00
City of London              110128.0423          112329.4376
Barking & Dagenham          52113.12157          52232.19868
Barnet                      91441.24768          92361.31512
Bexley                      63722.70055          64432.60005

                                    9    ...                  328  \
Unnamed: 0          1995-09-01 00:00:00  ...  2022-04-01 00:00:00
City of London              104473.1096  ...         813979.74214
Barking & Dagenham          51471.61353  ...         332604.43094
Barnet                      93273.12245  ...         579950.33189
Bexley                      64509.54767  ...         384327.79155

                                    329                  330  \
Unnamed: 0          2022-05-01 00:00:00  2022-06-01 00:00:00
City of London             797892.55047         821514.79383
Barking & Dagenham         335021.08059         344835.81396
Barnet                     584662.31887         591029.86082
Bexley                     386009.08336         389711.51594

                                    331                  332  \
Unnamed: 0          2022-07-01 00:00:00  2022-08-01 00:00:00
City of London             806856.05306         834332.03537
Barking & Dagenham          348109.0198         349807.27867
Barnet                     593474.16293          602160.5051
Bexley                     395133.58979         400870.79852

                                    333                  334  \
Unnamed: 0          2022-09-01 00:00:00  2022-10-01 00:00:00
City of London             830627.92842         885696.33847
Barking & Dagenham         348544.55308         353195.14125
Barnet                     604970.15477          598727.6565
Bexley                      402778.1912         407103.40353

                                    335                  336  \
Unnamed: 0          2022-11-01 00:00:00  2022-12-01 00:00:00
City of London             954661.97133         953204.66901
Barking & Dagenham          357675.7384         359579.90996
Barnet                       589432.211         591520.97288
Bexley                     406588.79277         410458.95974

                                    337
Unnamed: 0          2023-01-01 00:00:00
City of London             885406.47515
Barking & Dagenham         353635.45461
Barnet                     594529.67878
Bexley                     401801.51546

[5 rows x 338 columns]

In [123]:
properties_t.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,328,329,330,331,332,333,334,335,336,337
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,813979.74214,797892.55047,821514.79383,806856.05306,834332.03537,830627.92842,885696.33847,954661.97133,953204.66901,885406.47515
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,332604.43094,335021.08059,344835.81396,348109.0198,349807.27867,348544.55308,353195.14125,357675.7384,359579.90996,353635.45461
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,579950.33189,584662.31887,591029.86082,593474.16293,602160.5051,604970.15477,598727.6565,589432.211,591520.97288,594529.67878
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,384327.79155,386009.08336,389711.51594,395133.58979,400870.79852,402778.1912,407103.40353,406588.79277,410458.95974,401801.51546
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,518862.05779,528460.43896,531851.10266,548766.79416,559694.43572,579715.65953,576500.99942,570808.32592,563864.18263,558238.93628
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,486216.65363,490401.65768,500384.62433,503879.15903,511457.75191,512519.58532,517698.22668,516619.17767,519752.41804,519294.0781
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,879687.14239,852891.0364,835332.32524,844936.90678,854686.03613,849266.39672,838390.76911,836717.61972,850933.51313,840254.34677
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,412059.83866,414423.39049,414709.74768,418188.91886,426034.1741,431568.03593,433740.73082,432290.33094,433313.06694,434426.23548
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,511708.51961,516267.81921,526228.95905,537670.69169,542364.99333,542899.43609,540875.80509,541102.72477,548638.29352,546164.5939
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,439959.49854,445652.58013,445950.25995,446702.59613,451545.1731,455587.51839,463046.58357,463994.37022,467917.50301,463926.00966
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,413093.93395,423002.93826,429540.86797,430964.48581,431356.48512,439016.60975,443108.39599,446242.56501,441714.6369,445079.52636
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,604269.75365,594533.94122,612875.2108,630355.99711,648080.20942,649926.15814,652438.25673,653250.73479,638950.52894,635884.82732
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,742294.21847,743928.94243,761047.31674,785468.24238,803908.95858,808978.52723,786156.30905,749282.65836,729454.00784,749382.83875
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,576916.14073,582306.10714,585793.73316,591530.82018,596277.88065,612664.17561,613214.89212,620471.51886,612926.13432,613401.27824
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,497390.86898,500741.51588,513079.66585,528845.98517,534870.6227,537016.36992,533676.30119,531427.18804,531009.18727,528213.05091
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,414477.69908,418679.47367,420367.2113,420801.67853,423022.12634,428860.37502,431094.00884,436804.19415,440074.88105,434331.32418
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,445750.78995,446482.65418,451600.68145,456479.84788,461601.15494,466942.96884,474323.83965,478674.56512,474514.77439,467411.02097
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,427563.03418,432274.76695,447077.16068,450372.7051,452402.9727,456800.25016,458509.92166,464304.17813,458401.18796,469970.51378
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,717190.30623,728697.6293,715544.79565,708925.87824,722131.24685,739531.79976,731348.73041,710460.91332,686826.41055,670999.29758
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1505901.4473,1494382.1524,1494061.7089,1493467.1296,1484858.2836,1487832.738,1349324.2963,1327185.3229,1234714.0652,1278199.5459
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,520559.68803,529777.56477,531696.53516,549612.99781,552608.31093,563293.52183,568145.64372,568215.12078,568698.34292,570688.05798
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,540994.18659,537730.47555,543948.95675,551053.30293,557871.18832,559830.57979,556101.70603,552534.61649,551279.02623,554374.26488
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,446001.21538,445065.73568,452070.44289,461467.0629,471520.9948,469226.21519,465183.40505,464090.53481,469765.19068,462198.27328
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,557889.74166,564595.4339,569444.93435,578627.40851,584285.22579,586157.37438,579801.55061,584590.35972,582000.68538,573718.52016
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,395229.21959,403279.09175,407345.49979,417361.48192,416478.71378,418317.98051,422434.41803,426663.64756,428935.86703,432094.58419
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,468829.23484,458333.91481,464109.31848,470653.96605,486226.36816,485741.20816,484881.00455,485860.00994,487311.15437,488376.29552
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,755048.71632,750671.36024,758681.36288,746859.11823,766645.43329,767330.02914,768711.82459,752207.33261,746978.97835,756557.13355
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,529325.80788,528328.45068,541996.393,551128.16488,554436.39353,556437.95396,554366.83024,561692.5959,555702.73184,558387.32722
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,421430.83716,425756.66201,432717.63431,437858.3147,441306.70865,444471.74656,442442.05566,446250.23283,444011.91083,445260.37881
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,466233.38019,471186.96298,473350.69008,476595.20612,473773.57779,481701.75522,487646.66692,492628.34419,497535.11994,488832.80329
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,480045.15456,484948.93842,496414.58533,509491.58383,521506.71292,522386.14021,526278.95493,517764.58026,515696.06822,512507.86867
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,634339.07945,629541.55503,629981.36654,634244.84839,651746.77718,660104.15683,654962.82151,645197.66612,640134.6848,641738.4697
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,1017366.67,979674.36916,981904.63971,984438.12778,996438.60371,965077.12817,948243.68571,934799.86763,927774.27061,905401.3991
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,613710.22206,611339.33996,616007.84081,623703.42358,632105.82522,635645.7247,629544.53415,625919.94994,620693.52601,619248.24627
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,469997.34555,473581.67044,479650.38171,484931.23711,491419.02107,495296.18482,497114.50286,496863.30214,497109.20568,495736.62763
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,151800.63236,152582.41885,154083.54606,159707.36268,160767.53244,162285.85212,163747.78866,163267.49538,162422.27705,163371.3288
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,203740.03071,206986.38019,208710.4835,213796.29479,215737.94763,217808.64959,218636.7305,220668.69197,219627.69946,214430.59548
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,197839.88115,202620.06078,204004.76234,207192.79671,209571.13905,211252.87161,212345.64996,213120.71483,213059.01122,207634.72067
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,237127.76895,240289.15291,243813.63347,244804.74079,250155.82932,251188.33102,251278.76691,253901.39741,255487.92142,251177.24024
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,239340.93452,243529.57846,243799.6474,250767.64978,251658.43702,253335.76477,255278.01139,255091.08649,256305.58628,256693.67143
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,341534.9877,346897.49832,348762.70602,353003.34398,357310.31168,359751.53833,359425.4612,364910.26901,362194.34493,358113.58287
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,522010.71359,522995.84527,532488.05208,540237.73404,544399.70104,543870.19531,538194.84084,540433.18365,539351.14375,533985.89338
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,379388.29867,384424.87041,387833.66022,392877.55421,398117.72865,400485.40296,400595.97809,401390.23209,403105.8697,398367.70265
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,315657.16356,321343.71248,320280.13777,327916.1104,333284.19639,334462.17766,335281.14758,336876.64716,331065.54279,329690.82293
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,295293.95036,299504.08322,301774.28615,307142.34871,310740.33933,312512.97569,312878.02395,314625.84973,313893.77267,310158.62883

In [124]:
properties_t.iloc[[0]]

,0,1,2,3,4,5,6,7,8,9,...,328,329,330,331,332,333,334,335,336,337
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00

In [125]:
properties_t.columns = properties_t.iloc[0]

In [126]:
print(properties_t)

Unnamed: 0                  NaT           1995-01-01           1995-02-01  \
Unnamed: 0                  NaT  1995-01-01 00:00:00  1995-02-01 00:00:00
City of London        E09000001          91448.98487          82202.77314
Barking & Dagenham    E09000002           50460.2266          51085.77983
Barnet                E09000003          93284.51832          93190.16963
Bexley                E09000004          64958.09036          64787.92069
Brent                 E09000005          71306.56698          72022.26197
Bromley               E09000006          81671.47692          81657.55944
Camden                E09000007          120932.8881          119508.8622
Croydon               E09000008          69158.16225          68951.09542
Ealing                E09000009          79885.89069          80897.06551
Enfield               E09000010          72514.69096          73155.19746
Greenwich             E09000011          62300.10169          60993.26863
Hackney               E09000012          61296.52637          63187.08332
Hammersmith & Fulham  E09000013          124902.8602           122087.718
Haringey              E09000014          76287.56947          78901.21036
Harrow                E09000015          84769.52599          83396.10525
Havering              E09000016          68000.13774          69393.51294
Hillingdon            E09000017          73834.82964           75031.0696
Hounslow              E09000018          72231.70537          71051.55852
Islington             E09000019          92516.48557          94342.37334
Kensington & Chelsea  E09000020          182694.8326          182345.2463
Kingston upon Thames  E09000021          80875.84843          81230.13524
Lambeth               E09000022          67770.98843          65381.51908
Lewisham              E09000023          60491.26109          60869.27091
Merton                E09000024           82070.6133          79982.74872
Newham                E09000025          53539.31919          53153.88306
Redbridge             E09000026          72189.58437           72141.6261
Richmond upon Thames  E09000027          109326.1245          111103.0394
Southwark             E09000028          67885.20344           64799.0648
Sutton                E09000029          71536.97357          70893.20851
Tower Hamlets         E09000030          59865.18995          62318.53353
Waltham Forest        E09000031          61319.44913          60252.12246
Wandsworth            E09000032          88559.04381          88641.01678
Westminster           E09000033          133025.2772          131468.3096
Unnamed: 34                 NaN                  NaN                  NaN
Inner London          E13000001           78251.9765          75885.70201
Outer London          E13000002          72958.79836          72937.88262
Unnamed: 37                 NaN                  NaN                  NaN
NORTH EAST            E12000001          42076.35411          42571.98949
NORTH WEST            E12000002          43958.48001          43925.42289
YORKS & THE HUMBER    E12000003          44803.42878          44528.80721
EAST MIDLANDS         E12000004          45544.52227          46051.57066
WEST MIDLANDS         E12000005          48527.52339          49341.29029
EAST OF ENGLAND       E12000006           56701.5961          56593.59475
LONDON                E12000007          74435.76052          72777.93709
SOUTH EAST            E12000008          64018.87894          63715.02399
SOUTH WEST            E12000009           54705.1579          54356.14843
Unnamed: 47                 NaN                  NaN                  NaN
England               E92000001          53202.77128           53096.1549

Unnamed: 0                     1995-03-01           1995-04-01  \
Unnamed: 0            1995-03-01 00:00:00  1995-04-01 00:00:00
City of London                79120.70256          77101.20804
Barking & Dagenham            51268.96956          53133.50526
Barnet                        92247.52435          90762.87492
Bexley                        64367.49344          64277.66881
Brent                         72015.76274          72965.63094
Bromley                       81449.31143          81124.41227
Camden                        120282.2131           120097.899
Croydon                       68712.44341          68610.04641
Ealing                        81379.86288          82188.90498
Enfield                       72190.44144          71442.92235
Greenwich                     61377.83464           61927.7246
Hackney                       63593.29935          65139.64403
Hammersmith & Fulham          120635.9467          121424.6241
Haringey                      78521.94855          79545.57477
Harrow                        83416.23759          83567.88439
Havering                      69368.02407          69444.26215
Hillingdon                    74188.66949          73911.40591
Hounslow                      72097.99411          71890.28339
Islington                     93465.86407          93344.49305
Kensington & Chelsea          182878.8231          184176.9168
Kingston upon Thames          81111.48848          81672.80476
Lambeth                       66336.51868           66388.7716
Lewisham                      60288.03002          59471.03136
Merton                        80661.68279          79990.54333
Newham                        53458.26393          54479.75395
Redbridge                     72501.35502          72228.60295
Richmond upon Thames          107325.4742               106875
Southwark                     65763.29719          63073.62117
Sutton                        70306.83844           69411.9439
Tower Hamlets                 63938.67686          66233.19383
Waltham Forest                60871.08493          60971.39722
Wandsworth                    87124.81523          87026.00225
Westminster                   132260.3417          133370.2036
Unnamed: 34                           NaN                  NaN
Inner London                  76591.59947          76851.56697
Outer London                  72714.53478          72591.92469
Unnamed: 37                           NaN                  NaN
NORTH EAST                    42369.72984           42095.8436
NORTH WEST                     44434.8681           44267.7796
YORKS & THE HUMBER            45200.46775          45614.34341
EAST MIDLANDS                 45383.82395          46124.23045
WEST MIDLANDS                 49442.17973          49455.93299
EAST OF ENGLAND               56171.18278          56567.89582
LONDON                        73896.84204          74455.28754
SOUTH EAST                    64113.60858          64623.22395
SOUTH WEST                    53583.07667          54786.01938
Unnamed: 47                           NaN                  NaN
England                        53201.2843           53590.8548

Unnamed: 0                     1995-05-01           1995-06-01  \
Unnamed: 0            1995-05-01 00:00:00  1995-06-01 00:00:00
City of London                84409.14932          94900.51244
Barking & Dagenham            53042.24852          53700.34831
Barnet                        90258.00033          90107.23471
Bexley                        63997.13588          64252.32335
Brent                         73704.04743          74310.48167
Bromley                       81542.61561          82382.83435
Camden                        119929.2782          121887.4625
Croydon                        68844.9169          69052.51103
Ealing                        82077.05525          81630.66181
Enfield                       70630.77955          71348.31147
Greenwich                     63512.99103          64751.56404
Hackney                       66193.99212          66921.17101
Hammersmith & Fulham           124433.539          126175.1513
Haringey                       79374.0349           79956.3621
Harrow                        83853.65615          84173.24689
Havering                      68534.52248          68464.60664
Hillingdon                    73117.12416          74005.00585
Hounslow                      72877.47219          72331.08116
Islington                     94346.39917          97428.94311
Kensington & Chelsea          191474.1141          197265.7602
Kingston upon Thames          82123.51084          82205.66822
Lambeth                       69035.11076          68881.15764
Lewisham                      58551.38387          58041.43543
Merton                        80873.98643          80704.92667
Newham                        55803.95958          56067.76986
Redbridge                     72366.64122           72279.4325
Richmond upon Thames          107707.6799          112865.0542
Southwark                     64420.49933          64155.81449
Sutton                        69759.21989          70125.24728
Tower Hamlets                 66432.85846          66232.16372
Waltham Forest                61494.16938          61547.79643
Wandsworth                    86518.05945           88114.3351
Westminster                   133911.1117          134562.1941
Unnamed: 34                           NaN                  NaN
Inner London                  79129.19443           79969.1525
Outer London                  72752.99414          73189.39978
Unnamed: 37                           NaN                  NaN
NORTH EAST                    43266.45165          42315.34372
NORTH WEST                    44223.61973          44112.96432
YORKS & THE HUMBER            44830.98563          45392.63981
EAST MIDLANDS                 45878.00396          45679.99539
WEST MIDLANDS                 50369.66188          50100.43023
EAST OF ENGLAND               56479.80183          56288.94557
LONDON                        75432.02786          75606.24501
SOUTH EAST                    64530.36358            65511.008
SOUTH WEST                    54698.83831          54420.15939
Unnamed: 47                           NaN                  NaN
England                       53678.24041          53735.15475

Unnamed: 0                     1995-07-01           1995-08-01  \
Unnamed: 0            1995-07-01 00:00:00  1995-08-01 00:00:00
City of London                110128.0423          112329.4376
Barking & Dagenham            52113.12157          52232.19868
Barnet                        91441.24768          92361.31512
Bexley                        63722.70055          64432.60005
Brent                         74127.03788           73547.0411
Bromley                       82898.52264          82054.37156
Camden                        124027.5768          125529.8039
Croydon                       69142.48112          68993.42545
Ealing                         82352.2226          82706.65927
Enfield                       71837.54011          72237.94562
Greenwich                     65486.34112          65076.43195
Hackney                         68390.753          68096.79385
Hammersmith & Fulham          124381.5134          123625.3196
Haringey                      80746.34881          81217.69074
Harrow                        84226.69844          84430.61796
Havering                      68680.83996          69023.36482
Hillingdon                    74671.13263          74967.86534
Hounslow                      73717.78844          74479.94802
Islington                     98976.14077          98951.20791
Kensington & Chelsea          197963.3169          198037.4218
Kingston upon Thames            82525.793          83342.84552
Lambeth                       69608.72242          68840.02827
Lewisham                      58126.37811           58151.3154
Merton                        81055.90335          80781.09186
Newham                        55458.31693          54709.35467
Redbridge                     72880.83974          73275.16891
Richmond upon Thames          114656.6011          112320.4096
Southwark                     67024.74767          65525.94434
Sutton                        70789.57284          69958.41918
Tower Hamlets                 64692.22672          63472.27558
Waltham Forest                61933.52738           61916.4222
Wandsworth                    89830.58934          90560.68078
Westminster                   133450.2162          136581.5082
Unnamed: 34                           NaN                  NaN
Inner London                  80550.47935          80597.64563
Outer London                  73665.90517          73691.12888
Unnamed: 37                           NaN                  NaN
NORTH EAST                    43287.74323          41899.05494
NORTH WEST                    44109.58764          44193.66583
YORKS & THE HUMBER            45534.99864          45111.45939
EAST MIDLANDS                 46037.67312          45922.53585
WEST MIDLANDS                 49860.00809          49598.45969
EAST OF ENGLAND               57242.30186          56732.40547
LONDON                        75984.24079          75529.34488
SOUTH EAST                    65224.88465          64851.60429
SOUTH WEST                    54265.86368          54365.71495
Unnamed: 47                           NaN                  NaN
England                       53900.60633          53600.31975

Unnamed: 0                     1995-09-01  ...           2022-04-01  \
Unnamed: 0            1995-09-01 00:00:00  ...  2022-04-01 00:00:00
City of London                104473.1096  ...         813979.74214
Barking & Dagenham            51471.61353  ...         332604.43094
Barnet                        93273.12245  ...         579950.33189
Bexley                        64509.54767  ...         384327.79155
Brent                         73789.54287  ...         518862.05779
Bromley                       81440.43008  ...         486216.65363
Camden                        120596.8511  ...         879687.14239
Croydon                       69393.50023  ...         412059.83866
Ealing                        82011.08271  ...         511708.51961
Enfield                       71725.22104  ...         439959.49854
Greenwich                     63996.81525  ...         413093.93395
Hackney                       68752.50284  ...         604269.75365
Hammersmith & Fulham          123094.0484  ...         742294.21847
Haringey                      82142.89052  ...         576916.14073
Harrow                        83606.97863  ...         497390.86898
Havering                        68108.186  ...         414477.69908
Hillingdon                    73843.55239  ...         445750.78995
Hounslow                       74426.6609  ...         427563.03418
Islington                     99582.63778  ...         717190.30623
Kensington & Chelsea          197047.8333  ...         1505901.4473
Kingston upon Thames          85110.96835  ...         520559.68803
Lambeth                       70155.81997  ...         540994.18659
Lewisham                      58742.99034  ...         446001.21538
Merton                        80824.70075  ...         557889.74166
Newham                        54585.50364  ...         395229.21959
Redbridge                     73204.02373  ...         468829.23484
Richmond upon Thames          110424.5703  ...         755048.71632
Southwark                     63467.00948  ...         529325.80788
Sutton                        69937.40214  ...         421430.83716
Tower Hamlets                 62177.59435  ...         466233.38019
Waltham Forest                61548.15206  ...         480045.15456
Wandsworth                     91373.6984  ...         634339.07945
Westminster                   135993.0705  ...           1017366.67
Unnamed: 34                           NaN  ...                  NaN
Inner London                     80402.85  ...         613710.22206
Outer London                  73454.44292  ...         469997.34555
Unnamed: 37                           NaN  ...                  NaN
NORTH EAST                    41850.85646  ...         151800.63236
NORTH WEST                    44088.07696  ...         203740.03071
YORKS & THE HUMBER            44837.86023  ...         197839.88115
EAST MIDLANDS                 45771.66321  ...         237127.76895
WEST MIDLANDS                 49319.69715  ...         239340.93452
EAST OF ENGLAND               56259.28635  ...          341534.9877
LONDON                        74940.80872  ...         522010.71359
SOUTH EAST                    64352.47119  ...         379388.29867
SOUTH WEST                    54243.98694  ...         315657.16356
Unnamed: 47                           NaN  ...                  NaN
England                        53309.2331  ...         295293.95036

Unnamed: 0                     2022-05-01           2022-06-01  \
Unnamed: 0            2022-05-01 00:00:00  2022-06-01 00:00:00
City of London               797892.55047         821514.79383
Barking & Dagenham           335021.08059         344835.81396
Barnet                       584662.31887         591029.86082
Bexley                       386009.08336         389711.51594
Brent                        528460.43896         531851.10266
Bromley                      490401.65768         500384.62433
Camden                        852891.0364         835332.32524
Croydon                      414423.39049         414709.74768
Ealing                       516267.81921         526228.95905
Enfield                      445652.58013         445950.25995
Greenwich                    423002.93826         429540.86797
Hackney                      594533.94122          612875.2108
Hammersmith & Fulham         743928.94243         761047.31674
Haringey                     582306.10714         585793.73316
Harrow                       500741.51588         513079.66585
Havering                     418679.47367          420367.2113
Hillingdon                   446482.65418         451600.68145
Hounslow                     432274.76695         447077.16068
Islington                     728697.6293         715544.79565
Kensington & Chelsea         1494382.1524         1494061.7089
Kingston upon Thames         529777.56477         531696.53516
Lambeth                      537730.47555         543948.95675
Lewisham                     445065.73568         452070.44289
Merton                        564595.4339         569444.93435
Newham                       403279.09175         407345.49979
Redbridge                    458333.91481         464109.31848
Richmond upon Thames         750671.36024         758681.36288
Southwark                    528328.45068           541996.393
Sutton                       425756.66201         432717.63431
Tower Hamlets                471186.96298         473350.69008
Waltham Forest               484948.93842         496414.58533
Wandsworth                   629541.55503         629981.36654
Westminster                  979674.36916         981904.63971
Unnamed: 34                           NaN                  NaN
Inner London                 611339.33996         616007.84081
Outer London                 473581.67044         479650.38171
Unnamed: 37                           NaN                  NaN
NORTH EAST                   152582.41885         154083.54606
NORTH WEST                   206986.38019          208710.4835
YORKS & THE HUMBER           202620.06078         204004.76234
EAST MIDLANDS                240289.15291         243813.63347
WEST MIDLANDS                243529.57846          243799.6474
EAST OF ENGLAND              346897.49832         348762.70602
LONDON                       522995.84527         532488.05208
SOUTH EAST                   384424.87041         387833.66022
SOUTH WEST                   321343.71248         320280.13777
Unnamed: 47                           NaN                  NaN
England                      299504.08322         301774.28615

Unnamed: 0                     2022-07-01           2022-08-01  \
Unnamed: 0            2022-07-01 00:00:00  2022-08-01 00:00:00
City of London               806856.05306         834332.03537
Barking & Dagenham            348109.0198         349807.27867

In [127]:
properties_t = properties_t.iloc[1:338,:]

In [129]:
print(properties_t.head())

Unnamed: 0                NaT   1995-01-01   1995-02-01   1995-03-01  \
City of London      E09000001  91448.98487  82202.77314  79120.70256
Barking & Dagenham  E09000002   50460.2266  51085.77983  51268.96956
Barnet              E09000003  93284.51832  93190.16963  92247.52435
Bexley              E09000004  64958.09036  64787.92069  64367.49344
Brent               E09000005  71306.56698  72022.26197  72015.76274

Unnamed: 0           1995-04-01   1995-05-01   1995-06-01   1995-07-01  \
City of London      77101.20804  84409.14932  94900.51244  110128.0423
Barking & Dagenham  53133.50526  53042.24852  53700.34831  52113.12157
Barnet              90762.87492  90258.00033  90107.23471  91441.24768
Bexley              64277.66881  63997.13588  64252.32335  63722.70055
Brent               72965.63094  73704.04743  74310.48167  74127.03788

Unnamed: 0           1995-08-01   1995-09-01  ...    2022-04-01    2022-05-01  \
City of London      112329.4376  104473.1096  ...  813979.74214  797892.55047
Barking & Dagenham  52232.19868  51471.61353  ...  332604.43094  335021.08059
Barnet              92361.31512  93273.12245  ...  579950.33189  584662.31887
Bexley              64432.60005  64509.54767  ...  384327.79155  386009.08336
Brent                73547.0411  73789.54287  ...  518862.05779  528460.43896

Unnamed: 0            2022-06-01    2022-07-01    2022-08-01    2022-09-01  \
City of London      821514.79383  806856.05306  834332.03537  830627.92842
Barking & Dagenham  344835.81396   348109.0198  349807.27867  348544.55308
Barnet              591029.86082  593474.16293   602160.5051  604970.15477
Bexley              389711.51594  395133.58979  400870.79852   402778.1912
Brent               531851.10266  548766.79416  559694.43572  579715.65953

Unnamed: 0            2022-10-01    2022-11-01    2022-12-01    2023-01-01
City of London      885696.33847  954661.97133  953204.66901  885406.47515
Barking & Dagenham  353195.14125   357675.7384  359579.90996  353635.45461
Barnet               598727.6565    589432.211  591520.97288  594529.67878
Bexley              407103.40353  406588.79277  410458.95974  401801.51546
Brent               576500.99942  570808.32592  563864.18263  558238.93628

[5 rows x 338 columns]

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [135]:
properties_t = properties_t.rename(columns={'Unnamed: 0':'location', pd.NaT: 'ID'})

In [136]:
print(properties_t.head())

Unnamed: 0                 ID 1995-01-01 00:00:00 1995-02-01 00:00:00  \
City of London      E09000001         91448.98487         82202.77314
Barking & Dagenham  E09000002          50460.2266         51085.77983
Barnet              E09000003         93284.51832         93190.16963
Bexley              E09000004         64958.09036         64787.92069
Brent               E09000005         71306.56698         72022.26197

Unnamed: 0         1995-03-01 00:00:00 1995-04-01 00:00:00  \
City of London             79120.70256         77101.20804
Barking & Dagenham         51268.96956         53133.50526
Barnet                     92247.52435         90762.87492
Bexley                     64367.49344         64277.66881
Brent                      72015.76274         72965.63094

Unnamed: 0         1995-05-01 00:00:00 1995-06-01 00:00:00  \
City of London             84409.14932         94900.51244
Barking & Dagenham         53042.24852         53700.34831
Barnet                     90258.00033         90107.23471
Bexley                     63997.13588         64252.32335
Brent                      73704.04743         74310.48167

Unnamed: 0         1995-07-01 00:00:00 1995-08-01 00:00:00  \
City of London             110128.0423         112329.4376
Barking & Dagenham         52113.12157         52232.19868
Barnet                     91441.24768         92361.31512
Bexley                     63722.70055         64432.60005
Brent                      74127.03788          73547.0411

Unnamed: 0         1995-09-01 00:00:00  ... 2022-04-01 00:00:00  \
City of London             104473.1096  ...        813979.74214
Barking & Dagenham         51471.61353  ...        332604.43094
Barnet                     93273.12245  ...        579950.33189
Bexley                     64509.54767  ...        384327.79155
Brent                      73789.54287  ...        518862.05779

Unnamed: 0         2022-05-01 00:00:00 2022-06-01 00:00:00  \
City of London            797892.55047        821514.79383
Barking & Dagenham        335021.08059        344835.81396
Barnet                    584662.31887        591029.86082
Bexley                    386009.08336        389711.51594
Brent                     528460.43896        531851.10266

Unnamed: 0         2022-07-01 00:00:00 2022-08-01 00:00:00  \
City of London            806856.05306        834332.03537
Barking & Dagenham         348109.0198        349807.27867
Barnet                    593474.16293         602160.5051
Bexley                    395133.58979        400870.79852
Brent                     548766.79416        559694.43572

Unnamed: 0         2022-09-01 00:00:00 2022-10-01 00:00:00  \
City of London            830627.92842        885696.33847
Barking & Dagenham        348544.55308        353195.14125
Barnet                    604970.15477         598727.6565
Bexley                     402778.1912        407103.40353
Brent                     579715.65953        576500.99942

Unnamed: 0         2022-11-01 00:00:00 2022-12-01 00:00:00 2023-01-01 00:00:00
City of London            954661.97133        953204.66901        885406.47515
Barking & Dagenham         357675.7384        359579.90996        353635.45461
Barnet                      589432.211        591520.97288        594529.67878
Bexley                    406588.79277        410458.95974        401801.51546
Brent                     570808.32592        563864.18263        558238.93628

[5 rows x 338 columns]

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [133]:
clean = pd.melt(properties_t, id_vars = ['location','ID'])

KeyError: "The following 'id_vars' are not present in the DataFrame: ['location']"

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!